body {
    padding: 0;
    margin: 0;
}

#page-gameover {
    background-color: blanchedalmond;
}

#board {
    background-color: rgb(216, 197, 232);
    height: 100vh;
    width: 100vw;
    position: relative;
}

#player {
    position: absolute;
    background-color: blue;
}

.obstacle {
    background-color: green;
    position: absolute;
}

