body {
    padding: 0;
    margin: 0;
}

#board {
    background-color: rgb(216, 197, 232);
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#player {
    position: absolute;
    background-color: blue;
}

.obstacle {
    background-color: green;
    position: absolute;
}






#page-gameover {
    background-color: blanchedalmond;
}

.play-card {
    position: absolute;
    top: 50vh;
    left: 45%;
}

.game-button {
  background-color: #c43f3f;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 4px 0px #a13333;
  transition: all 0.2s ease-in-out;
}

.game-button:hover {
  background-color: #a13333;
  box-shadow: 0px 2px 0px #751c1c;
  transform: translateY(2px);
}

